{% extends "base.html" %}
{% block content %}
{% for favorite in favorites %}
<h2>Favor</h2>
<article class="media content-section">
    <a href="{% url 'book_detail' favorite.id %}">
        <img style="box-shadow:0px 0px 2px 2px #5f788a; border-radius: 10px;" class="mr-3" src="{{ favorite.image.url }}">
    </a>
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'book_detail' favorite.id %}">{{ favorite.title }}</a>
            <small class="text-muted">{{ favorite.author }}</small>
        </div>
        <h2 class="article-title">{{ favorite.title }}</h2>
        <p class="article-content">{{ favorite.about }}</p>
    </div>
</article>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}