{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h2>Book Info</h2>
<article class="media content-section">
    <img class="article-img" src="{{ book.image.url }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2">{{ book.author }}</a>
            <small class="text-muted">{{ book.year }}</small>
        </div>
        <h2 class="article-title article-metadata">{{ book.title }}</h2>
        <h5 class="article-content article-metadata">{{ book.genre }}</h5>
        <p class="lead article-metadata">About: {{ book.about }}</p>
        <p class="lead article-metadata">Personal Notes: {{ book_notes }}</p>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy}}
            </fieldset>
            {% if book in request.user.profile.favorites.all %}
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Unfavorite</button>
            </div>
            {% else %}
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Favorite</button>
            </div>
            {% endif %}
        </form>
        <a href="{% url 'book_update' book.id %}" class="btn btn-outline-info">Update</a>
        <a href="{% url 'book_delete' book.id %}" class="btn btn-outline-danger">Delete</a>

    </div>
</article>
{% endblock content %}