{% extends "base.html" %}
{% block content %}
    {% for book in books %}
        <article class="media content-section">
            <img class="article-img" src="{{ book.image.url }}">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="">{{ book.title }}</a>
                    <small class="text-muted">{{ book.author }}</small>
                </div>
                <h2><a class="article-title" href="{% url 'book_detail' book.id %}">{{ book.title }}</a></h2>
                <p class="article-content">{{ book.notes }}</p>
            </div>
        </article>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}